<h1>Comments</h1>

<p>Number of comment(s): <%= @comments.count %></p>

<% @comments.each do |comment| %>
  <tr>
	<td><%= comment.post_id %>.</td>
    <td><%= comment.text %></td>
    <td><%= link_to 'Show', comment %></td>
	<br>
  </tr>
<% end %>